<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barcode Scanner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://rawgit.com/serratus/quaggaJS/master/dist/quagga.min.js"></script>
    <style>
        #interactive {
          max-width:500px;
          max-height:300px;
          margin:0 auto;
          padding:0 20px;
          border-radius:20px;
        }
        #interactive video {
          width: 100%;
          height: auto;
          max-width: 100%;
          max-height:300px;
          border-radius:20px;
          
        }
        .drawingBuffer{
            display:none;
        }
        
      </style>
</head>
<body style="background-color:#389468"  id="main-content">
    <main class="bg-secondary-subtle py-3 m-2 rounded-2">
        <h1 class="text-center mb-3 text-success">Food Scanner</h1>
        <div class="position-relative">
            <div id="interactive" class="viewport"></div>
            <div class="bg-success p-3 rounded-5 scan-icon mb-1 d-flex justify-content-center align-item-center position-absolute top-100 start-50 translate-middle" style="width:3.6em;">
                <p class="mb-0 text-light">
                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4" d="M2 9.75C1.59 9.75 1.25 9.41 1.25 9V6.5C1.25 3.6 3.61 1.25 6.5 1.25H9C9.41 1.25 9.75 1.59 9.75 2C9.75 2.41 9.41 2.75 9 2.75H6.5C4.43 2.75 2.75 4.43 2.75 6.5V9C2.75 9.41 2.41 9.75 2 9.75Z" fill="#fff"/>
                        <path d="M22 9.75C21.59 9.75 21.25 9.41 21.25 9V6.5C21.25 4.43 19.57 2.75 17.5 2.75H15C14.59 2.75 14.25 2.41 14.25 2C14.25 1.59 14.59 1.25 15 1.25H17.5C20.39 1.25 22.75 3.6 22.75 6.5V9C22.75 9.41 22.41 9.75 22 9.75Z" fill="#fff"/>
                        <path opacity="0.4" d="M17.5 22.75H16C15.59 22.75 15.25 22.41 15.25 22C15.25 21.59 15.59 21.25 16 21.25H17.5C19.57 21.25 21.25 19.57 21.25 17.5V16C21.25 15.59 21.59 15.25 22 15.25C22.41 15.25 22.75 15.59 22.75 16V17.5C22.75 20.4 20.39 22.75 17.5 22.75Z" fill="#fff"/>
                        <path d="M9 22.75H6.5C3.61 22.75 1.25 20.4 1.25 17.5V15C1.25 14.59 1.59 14.25 2 14.25C2.41 14.25 2.75 14.59 2.75 15V17.5C2.75 19.57 4.43 21.25 6.5 21.25H9C9.41 21.25 9.75 21.59 9.75 22C9.75 22.41 9.41 22.75 9 22.75Z" fill="#fff"/>
                        <path d="M9 5.25H7C5.86 5.25 5.25 5.85 5.25 7V9C5.25 10.15 5.86 10.75 7 10.75H9C10.14 10.75 10.75 10.15 10.75 9V7C10.75 5.85 10.14 5.25 9 5.25Z" fill="#fff"/>
                        <path opacity="0.4" d="M17 5.25H15C13.86 5.25 13.25 5.85 13.25 7V9C13.25 10.15 13.86 10.75 15 10.75H17C18.14 10.75 18.75 10.15 18.75 9V7C18.75 5.85 18.14 5.25 17 5.25Z" fill="#fff"/>
                        <path opacity="0.4" d="M9 13.25H7C5.86 13.25 5.25 13.85 5.25 15V17C5.25 18.15 5.86 18.75 7 18.75H9C10.14 18.75 10.75 18.15 10.75 17V15C10.75 13.85 10.14 13.25 9 13.25Z" fill="#fff"/>
                        <path d="M17 13.25H15C13.86 13.25 13.25 13.85 13.25 15V17C13.25 18.15 13.86 18.75 15 18.75H17C18.14 18.75 18.75 18.15 18.75 17V15C18.75 13.85 18.14 13.25 17 13.25Z" fill="#fff"/>
                        </svg>
                </p>
            </div>
        </div>
        <h2 class="mt-5 text-center">Scanning...</h2>
        <div class="text-center mt-2">
            <p class="fw-bold">OR</p>
            <form method="GET" action="{% url 'product_page' %}" class="mx-4">
                <input class="form-control text-center mx-auto" type="text" placeholder="Enter the barcode Number" style="max-width:350px;" name="barcode" />
                <button class="btn btn-info fw-bold mt-3">Scan the code</button>
            </form>
        </div>
        <div id="scan-result" class="mt-3">
        </div>
        <div class="mx-3 mt-5 alert alert-danger" role="alert">
            <strong>Disclaimer:</strong> This web app allows you to take smart decision when buying food products but don't completely rely on website. when in doubt read the actual product packaging and consult your doctor in case of allergies.
        </div>

        
    </main>
    <script>
        // Initialize QuaggaJS
        Quagga.init({
            inputStream: {
                name: "Live",
                type: "LiveStream",
                target: document.querySelector("#interactive"),

            },
            decoder: {
                readers: ["ean_reader",
                "code_128_reader","upc_reader"]
            }
        }, function (err) {
            if (err) {
                console.log(err);
                return;
            }
            Quagga.start();
        });

        // Add event listener for successful barcode scan
        Quagga.onDetected(function (result) {
            var barcode = result.codeResult.code;
            // Send barcode to the Django backend
            sendBarcodeToBackend(barcode);
        });

        // Function to send barcode to the Django backend
        function sendBarcodeToBackend(barcode) {
            // You can use fetch or other AJAX methods to send data to the backend
            fetch('/process_barcode/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': getCookie('csrftoken')  // Ensure you have the CSRF token
                },
                body: 'barcode=' + barcode
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Handle the response as needed
                if (data.status === 'success') {
                    document.querySelector('#scan-result').innerHTML = `<p class="text-center text-success">
                        <i class="fa-solid fa-circle-check"></i> Successfully scanned
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border text-success" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                          </div>
                    </p>`
                    
                    // Redirect to the product.html page with the barcode as a parameter
                    window.location.href = `/product?barcode=${barcode}`;
                } else {
                    // Handle the case where processing the barcode was not successful
                    document.querySelector('#scan-result').innerHTML = `<p class="text-center text-danger">
                        <i class="fa-solid fa-circle-xmark"></i> Scan Failed! Try again
                        <span class="text-body-secondary d-block mx-2">If problem persist try entering barcode number</span>
                    </p>`
                    console.error('Error processing barcode:', data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        // Function to get CSRF token from cookies
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length === 2) return parts.pop().split(";").shift();
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
